@import "layout.fit.unsized" ;

& {
    @extend layout.fit.unsized ;
    position: relative;
    overflow:hidden;
    touch-action: none;
    > .nodes , > .lines {
        position: absolute;
        top: 0;
        left: 0;
    }

    > .nodes{
        width: 100%;
        > .node-wrapper , > .node {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate3d(0, 0, 0);
        }

        > .node-wrapper{
            > .node{
                position:relative;
            }
        }
    }
}