@import "layout.fit.unsized" ;

& {
    @extend layout.fit.unsized ;
    position: relative;
    overflow:hidden;
    touch-action: none;
    > .texts{
        visibility: hidden;
        > p{
            word-break: break-all;
            display: inline-flex;
        }
    }
    > .nodes , > .lines {
        position: absolute;
        top: 0;
        left: 0;
    }

    > .nodes{
        visibility: hidden;
        &.rendered{
            visibility:visible;
        }
        > .node {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
}