@import "layout.fit.unsized" ;

& {
    @extend layout.fit.unsized ;
    position: relative;
    overflow:hidden;
    touch-action: none;
    > .inner{
        position: absolute;
        transform-origin:left top;
        top: 0;
        left: 0;
        > .nodes , > .lines {
            position: absolute;
            top: 0;
            left: 0;
        }
        > .lines{
            width:100%;
            height:100%;
        }
        > .nodes{
            width: 100%;
            > .node-wrapper{
                position: absolute;
                top: 0;
                left: 0;
                > .node{
                    position:relative;
                }
            }
        }
    }
}