<html>
    <head>
        <title>水平布局</title>
        <style import="reset.viewport"></style>
        <style import="layout.horizontal"></style>
        <style import="layout.fit"></style>
        <style import="layout.flex"></style>
        <style import="debug::layout.horizontal.css"></style>
    </head>
    <body>
        <div class="layout-horizontal layout-fit-unsized">
            <div class="column-100"></div>
            <div class="column-200"></div>
            <div class="column-auto layout-flex-1"></div>
        </div>
    </body>
</html>