<html>
    <head>
        <title>垂直布局</title>
        <style import="reset.viewport"></style>
        <style import="layout.vertical"></style>
        <style import="layout.fit"></style>
        <style import="layout.flex"></style>
        <style import="debug::layout.vertical.css"></style>
    </head>
    <body>
        <div class="layout-vertical layout-fit-unsized">
            <div class="row-100"></div>
            <div class="row-200"></div>
            <div class="row-auto layout-flex-1"></div>
        </div>
    </body>
</html>