html, body {
  font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
  font-weight: normal;
  text-size-adjust: none;
  margin: 0;
  cursor: default; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before,
q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

*:focus {
  outline: none; }

*, *:after, *:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-select: none;
  touch-action: none; }

input, textarea {
  user-select: text; }

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

html, body {
  font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
  font-weight: normal;
  text-size-adjust: none;
  margin: 0;
  cursor: default; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before,
q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

*:focus {
  outline: none; }

*, *:after, *:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-select: none;
  touch-action: none; }

input, textarea {
  user-select: text; }

.hb-container, .css-container {
  position: relative;
  overflow: hidden; }

.hb-component, .css-component {
  position: relative; }

.hb-layout-center, .css-layout-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.hb-layout-fit-sized, .css-layout-fit-sized {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.hb-layout-fit-unsized, .css-layout-fit-unsized {
  width: 100%;
  height: 100%; }

.hb-layout-flex-1 {
  flex: 1; }

.hb-layout-flex-2 {
  flex: 2; }

.hb-layout-flex-3 {
  flex: 3; }

.hb-layout-horizontal, .css-layout-horizontal {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start; }

.hb-layout-vertical, .css-layout-vertical {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start; }
