html, body {
  font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
  font-weight: normal;
  text-size-adjust: none;
  margin: 0;
  cursor: default; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before,
q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

*:focus {
  outline: none; }

*, *:after, *:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-select: none;
  touch-action: none; }

input, textarea {
  user-select: text; }

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

html, body {
  font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
  font-weight: normal;
  text-size-adjust: none;
  margin: 0;
  cursor: default; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before,
q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

*:focus {
  outline: none; }

*, *:after, *:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-select: none;
  touch-action: none; }

input, textarea {
  user-select: text; }

.xy-layout-center, .css-layout-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.xy-layout-fit-sized, .css-layout-fit-sized {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.xy-layout-fit-unsized, .css-layout-fit-unsized, .xy-mindmap, .css-mindmap {
  width: 100%;
  height: 100%; }

.xy-layout-flex-1 {
  flex: 1; }

.xy-layout-flex-2 {
  flex: 2; }

.xy-layout-flex-3 {
  flex: 3; }

.xy-layout-horizontal, .css-layout-horizontal {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start; }
  .xy-layout-horizontal.align-start, .css-layout-horizontal.align-start {
    align-items: flex-start; }
  .xy-layout-horizontal.align-end, .css-layout-horizontal.align-end {
    align-items: flex-start; }
  .xy-layout-horizontal.align-center, .css-layout-horizontal.align-center {
    align-items: center; }
  .xy-layout-horizontal.justify-end, .css-layout-horizontal.justify-end {
    justify-content: flex-end; }
  .xy-layout-horizontal.justify-center, .css-layout-horizontal.justify-center {
    justify-content: center; }
  .xy-layout-horizontal.justify-between, .css-layout-horizontal.justify-between {
    justify-content: space-between; }

.xy-layout-vertical, .css-layout-vertical {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  justify-content: flex-start; }
  .xy-layout-vertical.align-start, .css-layout-vertical.align-start {
    align-items: flex-start; }
  .xy-layout-vertical.align-end, .css-layout-vertical.align-end {
    align-items: flex-start; }
  .xy-layout-vertical.align-center, .css-layout-vertical.align-center {
    align-items: center; }
  .xy-layout-vertical.justify-end, .css-layout-vertical.justify-end {
    justify-content: flex-end; }
  .xy-layout-vertical.justify-center, .css-layout-vertical.justify-center {
    justify-content: center; }
  .xy-layout-vertical.justify-between, .css-layout-vertical.justify-between {
    justify-content: space-between; }

.xy-container, .css-container {
  position: relative;
  overflow: hidden; }

.xy-component, .css-component {
  position: relative; }

.xy-layout-fit-unsized, .css-layout-fit-unsized, .xy-mindmap, .css-mindmap {
  width: 100%;
  height: 100%; }

.xy-mindmap, .css-mindmap {
  position: relative;
  overflow: hidden;
  touch-action: none; }
  .xy-mindmap > .inner, .css-mindmap > .inner {
    position: absolute;
    top: 0;
    left: 0; }
    .xy-mindmap > .inner > .nodes, .xy-mindmap > .inner > .lines, .css-mindmap > .inner > .nodes, .css-mindmap > .inner > .lines {
      position: absolute;
      top: 0;
      left: 0; }
    .xy-mindmap > .inner > .lines, .css-mindmap > .inner > .lines {
      width: 100%;
      height: 100%; }
    .xy-mindmap > .inner > .nodes, .css-mindmap > .inner > .nodes {
      width: 100%; }
      .xy-mindmap > .inner > .nodes > .node-wrapper, .xy-mindmap > .inner > .nodes > .node, .css-mindmap > .inner > .nodes > .node-wrapper, .css-mindmap > .inner > .nodes > .node {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(0, 0, 0); }
      .xy-mindmap > .inner > .nodes > .node-wrapper > .node, .css-mindmap > .inner > .nodes > .node-wrapper > .node {
        position: relative; }
