.-main-visibility {
    visibility: hidden !important;
}

.-main-display {
    display: none !important;
}

.-main-offsets {
    position: absolute !important;
    left: -10000em;
    top: -10000em;
    visibility: hidden;
}